<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="Styling/mailAdvice.css" />
</head>
<body>
    <br />
    <div id="saluation">
        Geachte heer of mevrouw,
    </div>

    <div id="body">
        Allereerst dank ik u wel voor het gebruikmaken van onze app. <br /><br />
        Hieronder kunt u uw advies zien: <br /><br />

        VVD: 63 %
        CDA: 18 %
        PvdA: 19%

        
        Hoogachtend,

        Het team van Stemwijzer
    </div>
</body>
</html>